<div class="navbar-fixed">
    <nav class="red accent-4 z-depth-5 ">
        <div class="nav-wrapper container ">
            <a href="#" class="brand-logo left">VivoFlix</a>



                <li class="tooltipped" data-position="bottom" data-tooltip="Inicio"><a href="#"><i class="material-icons" >home</i></a></li>
                <li><a class='dropdown-trigger' data-target='dropdown1' href="#"><i class="material-icons">view_module</i></a></li>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#!">Novos</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="#!">Terror</a></li>

                </ul>

                <li class="tooltipped" data-position="bottom" data-tooltip="Favoritos"><a href="#"><i class="material-icons">favorite</i></a></li>
            </ul>

            <form class=" hide-on-med-and-down" id="form1" autocomplete="off">
                <div class="input-field">
                    <input id="search" type="search" Placeholder="Clique aqui para Procurar um filme">
                    <label class="label-icon " for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>

    </nav>
</div>
