body {
    background: #fff;
}

.focoFilme {
    -webkit-box-shadow: 0px 0px 20px -2px blue !important;
    -moz-box-shadow: 0px 0px 20px -2px blue !important;
    box-shadow: 0px 0px 20px -2px blue !important;
}